.calibre {
  display: block;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  display: block;
  margin: 1em 0;
}
.calibre2 {
  height: 1263px;
  width: 790px;
}
.calibre3 {
  display: block;
  text-align: center;
  margin: 1em 0;
}
.calibre4 {
  font-size: 1.66667em;
  line-height: 1.2;
}
.calibre5 {
  display: block;
}
.calibre6 {
  display: block;
  text-align: right;
  margin: 1em 0;
}
.calibre7 {
  font-size: 0.75em;
}
.calibre8 {
  display: block;
  text-indent: 1em;
  margin: 1em 0;
}
.calibre9 {
  font-size: 0.625em;
}
.calibre10 {
  font-size: 1.29167em;
  line-height: 1.2;
}
.calibre11 {
  height: 444px;
  width: 659px;
}
.calibre12 {
  float: left;
  line-height: 1.2;
}
.calibre13 {
  line-height: 1.2;
}
.calibre14 {
  height: 458px;
  width: 659px;
}
.calibre15 {
  height: 380px;
  width: 609px;
}
.calibre16 {
  height: 450px;
  width: 659px;
}
.calibre17 {
  height: 464px;
  width: 659px;
}
.calibre18 {
  height: 305px;
  width: 659px;
}
.calibre19 {
  display: block;
  margin: 1em 0 1em 2em;
}
.calibre20 {
  height: 494px;
  width: 659px;
}
.calibre21 {
  display: block;
  margin: 1em 0 1em 1em;
}
.calibre22 {
  font-size: 1em;
}
.calibre23 {
  display: block;
  margin: 1em 0 1em 13em;
}
.calibre24 {
  display: block;
  margin: 1em 0 1em 7em;
}
.calibre25 {
  height: 370px;
  width: 659px;
}
.calibre26 {
  display: block;
  font-size: 1.66667em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.83em 0;
}
.calibre27 {
  font-size: 1em;
  line-height: 1.2;
}
.calibre28 {
  height: 495px;
  width: 659px;
}
.calibre29 {
  height: 440px;
  width: 659px;
}
.calibre30 {
  height: 429px;
  width: 659px;
}
.calibre31 {
  height: 438px;
  width: 659px;
}
.calibre32 {
  height: 531px;
  width: 410px;
}
.calibre33 {
  height: 329px;
  width: 659px;
}
.calibre34 {
  display: block;
  margin: 1em 0 1em 3em;
}
.calibre35 {
  height: 615px;
  width: 659px;
}
.calibre36 {
  height: 496px;
  width: 659px;
}
.calibre37 {
  height: 577px;
  width: 659px;
}
.calibre38 {
  height: 554px;
  width: 385px;
}
.calibre39 {
  height: 513px;
  width: 385px;
}
.calibre40 {
  height: 507px;
  width: 659px;
}
.calibre41 {
  height: 374px;
  width: 659px;
}
.calibre42 {
  height: 484px;
  width: 659px;
}
.calibre43 {
  height: 701px;
  width: 659px;
}
.calibre44 {
  height: 532px;
  width: 356px;
}
.calibre45 {
  height: 414px;
  width: 356px;
}
.calibre46 {
  display: block;
  margin: 1em 0 1em 5em;
}
.calibre47 {
  height: 439px;
  width: 659px;
}
.calibre48 {
  height: 492px;
  width: 659px;
}
.calibre49 {
  height: 631px;
  width: 356px;
}
.calibre50 {
  height: 503px;
  width: 356px;
}
.calibre51 {
  height: 371px;
  width: 659px;
}
.calibre52 {
  height: 587px;
  width: 356px;
}
.calibre53 {
  height: 497px;
  width: 659px;
}
.calibre54 {
  height: 539px;
  width: 659px;
}
.calibre55 {
  height: 356px;
  width: 659px;
}
.calibre56 {
  font-size: 0.83333em;
}
.calibre57 {
  height: 136px;
  width: 234px;
}
.calibre58 {
  height: 55px;
  width: 251px;
}
.calibre59 {
  float: right;
}
.calibre60 {
  height: 2px;
  width: 659px;
}
