<section class="comments" aria-labelledby="comments-title">
  <h2 id="comments-title">评论</h2>
  <script
    is:inline
    src="https://giscus.app/client.js"
    data-repo="LeoninCS/Blog"
    data-repo-id="R_kgDOP534OA"
    data-category="General"
    data-category-id="DIC_kwDOP534OM4C-fJV"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="zh-CN"
    crossorigin="anonymous"
    async>
  </script>
</section>
